.App .weather-app {
  max-width: max-content;
  margin: 15px auto;
  border-radius: 10px;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}
.App .search-city {
  padding: 20px 20px 0px 20px;
}
.App .weather-today {
  padding: 5px 20px;
}
.App .weather-next {
  padding: 10px 20px;
}
.App .unit-conversion {
  padding: 0 20px 10px 20px;
}
.App .open-code {
  display: block;
  font-family: "Text Me One", sans-serif;
  color: rgb(130, 63, 146);
  text-align: center;
  font-style: bold;
}
