.CurrentInfo .current-location {
  font-family: "Cabin Sketch", cursive;
  font-size: 60px;
  text-transform: uppercase;
  color: rgb(130, 63, 146, 0.8);
}
.CurrentInfo .current-date {
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  color: grey;
}
.CurrentInfo .current-feel {
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(130, 63, 146, 0.8);
}
.CurrentInfo .card-current-weather {
  background-color: rgb(130, 63, 146, 0.4);
  border: none;
  border-radius: 10px;
  width: 520px;
  color: pink;
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  margin: 15px 0 5px 0;
}
.CurrentInfo .card-body-current-weather {
  padding: 10px;
}
.CurrentInfo .description-current {
  text-transform: uppercase;
}
.CurrentInfo .min-max-current {
  text-align: right;
}
img.icon {
  width: 150px;
  height: 150px;
}
.CurrentInfo .emoji-current {
  text-align: center;
}
.CurrentInfo .temperature-current {
  font-size: 100px;
  text-align: center;
}
.CurrentInfo .humidity-current {
  text-align: left;
}
.CurrentInfo .windspeed-current {
  text-align: center;
}
.CurrentInfo .cloudiness-current {
  text-align: right;
}
.CurrentInfo .time-current {
  font-family: "Text Me One", sans-serif;
  font-size: 16px;
  text-transform: initial;
  color: grey;
}

@media screen and (max-width: 640px) {
  .CurrentInfo .current-location {
    font-family: "Cabin Sketch", cursive;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(130, 63, 146, 0.8);
  }
  .CurrentInfo .current-date {
    font-family: "Text Me One", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: grey;
  }
  .CurrentInfo .current-feel {
    font-family: "Text Me One", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(130, 63, 146, 0.8);
  }
  .CurrentInfo .card-current-weather {
    background-color: rgb(130, 63, 146, 0.4);
    border: none;
    border-radius: 10px;
    width: 520px;
    color: pink;
    font-family: "Text Me One", sans-serif;
    font-size: 20px;
    margin: 15px 0 5px 0;
  }
  .CurrentInfo .card-body-current-weather {
    padding: 10px;
  }
  .CurrentInfo .description-current {
    text-transform: uppercase;
    font-size: 16px;
  }
  .CurrentInfo .min-max-current {
    text-align: right;
    font-size: 16px;
  }
  img.icon {
    width: 60px;
    height: 60px;
  }
  .CurrentInfo .emoji-current {
    text-align: center;
  }
  .CurrentInfo .temperature-current {
    text-align: center;
    font-size: 50px;
  }
  .CurrentInfo .humidity-current {
    text-align: left;
    font-size: 16px;
  }
  .CurrentInfo .windspeed-current {
    text-align: center;
    font-size: 16px;
  }
  .CurrentInfo .cloudiness-current {
    text-align: right;
    font-size: 16px;
  }
  .CurrentInfo .time-current {
    font-family: "Text Me One", sans-serif;
    font-size: 16px;
    text-transform: initial;
    color: grey;
  }
}
